.cabecalho {
    background-color: #ffffff
    color(white);
    display:flex;
    justify-content: space-around;


      
}
.cabecalho-imagem{
    width: 75%;
    display: inline-block;
    margin: 0 16px;
}