.cabecalho {
    background-color: #a52a2a
    color(brown)
    dispay:flex
    justify-content: space-around


      
}
.cabecalho-imagem{
    width: 50%;
    display: inline-block;
    margin: 0 16px;
}